{% extends 'base.html.twig'%}

{% block body %}
    {{ parent() }}
  <div class="container">
    <h2 class="text-center" style="font: Time-new-roman">
    Bienvenido
  {{ app.user.username }}
    </h2>
  </div>
{% endblock %}
